{% if campaignStats is not empty %}
    {% import '@OroDotmailer/macros.html.twig' as ui %}

    <div class="row-fluid">
        <h5 class="user-fieldset">
            <span>{{ 'oro.dotmailer.emailcampaign.statistics.label'|trans }}</span>
        </h5>
    </div>

    <div class="row-fluid row-fluid-divider form-horizontal">
        <div class="responsive-cell">
            <div class="responsive-block">
                <strong>{{ 'oro.dotmailer.emailcampaign.positive.label'|trans }}</strong>

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.emailsSent.label',
                    campaignStats.numTotalSent|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.emailsSent.tooltip'
                ) }}

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.totalDelivered.label',
                    campaignStats.numTotalDelivered|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.totalDelivered.tooltip'
                ) }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.percentageDelivered.label',
                    campaignStats.percentageDelivered|oro_format_percent,
                    'oro.dotmailer.emailcampaign.percentageDelivered.tooltip'
                ) }}

                <h5>{{ 'oro.dotmailer.emailcampaign.engagement.label'|trans }}</h5>
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.opens.label',
                    campaignStats.numTotalOpens|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.opens.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.unique_opens.label',
                    campaignStats.numTotalUniqueOpens|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.unique_opens.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.percentageUniqueOpens.label',
                    campaignStats.percentageUniqueOpens|oro_format_percent,
                    'oro.dotmailer.emailcampaign.percentageUniqueOpens.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.estimatedForwards.label',
                    campaignStats.numTotalEstimatedForwards|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.estimatedForwards.tooltip')
                }}

                <h5>{{ 'oro.dotmailer.emailcampaign.interaction.label'|trans }}</h5>
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.user_clicks.label',
                    campaignStats.numRecipientsClicked|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.user_clicks.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.user_clicks_percentage.label',
                    campaignStats.percentageUsersClicked|oro_format_percent,
                    'oro.dotmailer.emailcampaign.user_clicks_percentage.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.clicks.label',
                    campaignStats.numTotalClicks|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.clicks.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.click_to_open.label',
                    campaignStats.percentageClicksToOpens|oro_format_percent,
                    'oro.dotmailer.emailcampaign.click_to_open.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.page_views.label',
                    campaignStats.numTotalPageViews|oro_format_percent,
                    'oro.dotmailer.emailcampaign.page_views.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.total_replies.label',
                    campaignStats.numTotalReplies,
                    'oro.dotmailer.emailcampaign.total_replies.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.replies_percentage.label',
                    campaignStats.percentageReplies|oro_format_percent,
                    'oro.dotmailer.emailcampaign.replies_percentage.tooltip')
                }}

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.forwards.label',
                    campaignStats.numForwards|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.forwards.tooltip')
                }}
            </div>
        </div>

        <div class="responsive-cell">
            <div class="responsive-block">
                <strong>{{ 'oro.dotmailer.emailcampaign.negative.label'|trans }}</strong>

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.hardBounces.label',
                    campaignStats.numTotalHardBounces|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.hardBounces.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.hardBouncesPercentage.label',
                    campaignStats.percentageHardBounces|oro_format_percent,
                    'oro.dotmailer.emailcampaign.hardBouncesPercentage.tooltip')
                }}

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.softBounces.label',
                    campaignStats.numTotalSoftBounces|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.softBounces.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.softBouncesPercentage.label',
                    campaignStats.percentageSoftBounces|oro_format_percent,
                    'oro.dotmailer.emailcampaign.softBouncesPercentage.tooltip')
                }}

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.unsubscribes.label',
                    campaignStats.numTotalUnsubscribes|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.unsubscribes.tooltip')
                }}
                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.unsubscribesPercentage.label',
                    campaignStats.percentageUnsubscribes|oro_format_percent,
                    'oro.dotmailer.emailcampaign.unsubscribesPercentage.tooltip')
                }}

                {{ ui.renderAttributeWithTooltip(
                    'oro.dotmailer.emailcampaign.isp_complaints.label',
                    campaignStats.numTotalIspComplaints|oro_format_decimal,
                    'oro.dotmailer.emailcampaign.isp_complaints.tooltip')
                }}
            </div>
        </div>
    </div>
{% endif %}
