{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with ['OroFormBundle:Form:fields.html.twig'] %}

{% oro_title_set({params : {'%title%': 'oro.dotmailer.integration.connection.label'|trans} }) %}

{% set formAction = path('oro_dotmailer_integration_connection_index') %}

{% block navButtons %}{% endblock navButtons %}

{% block pageHeader %}
    {% set title = 'oro.dotmailer.integration.connection.label'|trans %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
{% endblock pageHeader %}

{% block content_data %}
    {% set button %}
        {% if entity.id and entity.transport.clientId and entity.transport.clientKey %}
            {% if loginUserUrl %}
                <div class="control-group">
                    <div class="controls">
                        {{ UI.button({
                            'path':  path('oro_dotmailer_oauth_disconnect', {'id': entity.id}),
                            'aCss':  'btn btn-primary',
                            'label': 'oro.dotmailer.integration.disconnect.label'|trans,
                            'title': 'oro.dotmailer.integration.disconnect.label'|trans,
                        }) }}
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <div class="controls">
                        {{ UI.button({
                            'path':  connectUrl,
                            'aCss':  'btn btn-primary',
                            'label': 'oro.dotmailer.integration.connect.label'|trans,
                            'title': 'oro.dotmailer.integration.connect.label'|trans,
                        }) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endset %}

    {% set id = 'oro_dotmailer_integration_connection' %}
    {% set dataBlocks = [{
        'title': 'oro.dotmailer.integration.label'|trans,
        'class': 'active',
        'subblocks': [{
            'title': '',
            'data': [
                form_row(form.channel),
                button
            ]
        }]
    }] %}

    {% if loginUserUrl %}
        {% set dotmailerSection %}
            <div id="embedded-form-container-dotmailer"></div>
            <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/oroembeddedform/js/embed.form.js') }}"></script>
            <script type="text/javascript">
                new ORO.EmbedForm({
                    container: 'embedded-form-container-dotmailer',
                    iframe: {
                        src: "{{ loginUserUrl }}",
                        width: '100%',
                        height: 1650,
                        frameBorder: 0
                    }
                });
            </script>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'oro.dotmailer.channel_type.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    dotmailerSection
                ]
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form) ? form_errors(form) : null,
        'dataBlocks': dataBlocks
    } %}

    {% import 'OroDotmailerBundle:Form:javascript.html.twig' as jsRenderer %}
    {{ jsRenderer.renderIntegrationConnectionFormJS(form) }}

    {{ parent() }}
{% endblock content_data %}
