{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="btn-group pull-left">
    {% if addressBook %}
        {% set html %}
        {{ UI.dropdownItem({
            'path': 'javascript:void(0);',
            'data': {
                'url': path('orocrm_dotmailer_synchronize_adddress_book', {id: addressBook.id}),
                'success-message': 'orocrm.dotmailer.connection.message.syncronize_scheduled'|trans,
                'fail-message':  'orocrm.dotmailer.connection.message.syncronize_schedule_failed'|trans,
                'action': 'sync-with-dotmailer'
            },
            'label': 'orocrm.dotmailer.connection.button.synchronize'|trans,
            'class': 'no-hash dotmailer-sync-btn',
            'iCss': 'icon-refresh'
        }) }}

        {{ UI.dropdownItem({
            'path': 'javascript:void(0);',
            'data': {
                'url': path('orocrm_dotmailer_marketing_list_connect', {id: marketingList.id}),
                'action': 'connect-with-dotmailer-setting-update',
                'message': 'orocrm.dotmailer.connection.message.update'|trans,
                'title': 'orocrm.dotmailer.connection.dialog.title.update'|trans
            },
            'label': 'orocrm.dotmailer.connection.button.manage_connection'|trans,
            'class': 'no-hash dotmailer-sync-btn',
            'iCss': 'icon-edit'
        }) }}

        <li>
            {{  UI.deleteLink({
                'dataUrl': path('orocrm_dotmailer_marketing_list_disconnect', {id: addressBook.id}),
                'dataRedirect': path('orocrm_marketing_list_view', {id: marketingList.id}),
                'dataMessage': 'orocrm.dotmailer.connection.confirmation.disconnect'|trans,
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-dotmailer-connection',
                'entity_label': 'orocrm.dotmailer.connection.name'|trans,
                'successMessage': 'orocrm.dotmailer.connection.message.disconnect'|trans,
                'title': 'orocrm.dotmailer.connection.button.disconnect'|trans,
                'label': 'orocrm.dotmailer.connection.button.disconnect'|trans
            }) }}
        </li>
        {% endset %}

        {{ UI.dropdownButton({
            'label': 'orocrm.dotmailer.connection.button.group_name'|trans,
            'iCss': 'icon icon-cog',
            'html': html
        }) }}
    {% else %}
        {{ UI.link({
            'path': 'javascript:void(0);',
            'data': {
                'url': path('orocrm_dotmailer_marketing_list_connect', {id: marketingList.id}),
                'action': 'connect-with-dotmailer-setting-update',
                'message': 'orocrm.dotmailer.connection.message.connect'|trans,
                'title': 'orocrm.dotmailer.connection.dialog.title.connect'|trans
            },
            'label': 'orocrm.dotmailer.connection.button.connect'|trans,
            'class': 'no-hash btn dotmailer-sync-btn',
            'iCss': 'icon-dotmailer'
        }) }}
    {% endif %}
</div>

<script type="text/javascript">
    require(['orocrmdotmailer/js/sync-buttons-handler'], function(Handler){
        new Handler('.dotmailer-sync-btn');
    });
</script>
