{% import '@OroUI/macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.dotmailer.integration.label'|trans, entity.channel) }}
            {{ UI.renderProperty('oro.dotmailer.datafield.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('oro.dotmailer.datafield.type.label'|trans, entity.type) }}
            {{ UI.renderProperty('oro.dotmailer.datafield.visibility.label'|trans, entity.visibility) }}
            {{ UI.renderProperty('oro.dotmailer.datafield.default_value.label'|trans, entity.defaultValue) }}
            {{ UI.renderProperty('oro.dotmailer.datafield.notes.label'|trans, entity.notes) }}
        </div>
    </div>
</div>
