{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as macros %}

{% oro_title_set({params : {"%datafield.name%": entity.name} }) %}
{% block bodyClass %}dotmailer-page{% endblock %}
{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_dotmailer_datafield', {'id': entity.id}),
            'dataRedirect': path('oro_dotmailer_datafield_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-lead',
            'dataId': entity.id,
            'entity_label': 'oro.dotmailer.datafield.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_dotmailer_datafield_index'),
        'indexLabel': 'oro.dotmailer.datafield.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set dataFieldWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_dotmailer_datafield_info', {id: entity.id}),
            'title': 'oro.dotmailer.datafield.title'|trans,
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'subblocks': [
                {'data' : [dataFieldWidget] },
            ]
        }
    ] %}

    {% set id = 'dataFieldView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
