{% block orocrm_dotmailer_transport_check_button_widget %}
    {% set options = {
        'pingUrl': path('orocrm_dotmailer_ping')
    } %}
    <div data-page-component-module="orocrmdotmailer/js/app/components/dm-resource-component"
         data-page-component-options="{{ options|json_encode }}">
        <div class="control-group">
            <div class="controls">
                <div style="margin-top: 10px;display: none;" class="ping-holder">
                    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
                    <div class="connection-status alert" style="display: none"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block orocrm_dotmailer_transport_check_button_row %}
    {{ block('button_row') }}
{% endblock %}
